<h1 id="tableLabel">Properties</h1>

<p *ngIf="!properties"><em>Loading...</em></p>

<table class='table table-striped table-dark' aria-labelledby="tableLabel" *ngIf="properties">
  <thead>
    <tr>
      <th>Address</th>
      <th>Year Built</th>
      <th>List Price</th>
      <th>Monthly Rent</th>
      <th>Gross Yield</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let property of properties">
      <td>{{ property.address }}</td>
      <td>{{ property.yearBuilt }}</td>
      <td>{{ property.listPrice | currency }}</td>
      <td>{{ property.monthlyRent | currency }}</td>
      <td>{{ property.grossYield }}</td>
      <td><button class="btn btn-light" (click)="save(property)">Save</button></td>
    </tr>
  </tbody>
</table>
